// fonts

$baseFont: "Barlow", sans-serif;
$secondFont: "Cardo", serif;

// colors

$primary: #1f0a03;
$secondary: #ffb100;
$tertiary: #7b2f00;
$tertiaryTwo: #491400;
$darkGrey: #232221;
$white: #fff;
